{%  extends 'base2.html' %}

{% block title %}Buy{% endblock %}

{% block main_body %}
<div class="row">
    <div class="col-md-4">
        <div class="box box-warning">
            <div class="box-header with-border">
            <h3 class="box-title">Search Stock</h3>
            </div>
            <div class="row">
            <!-- <form class="navbar-form navbar-left" role="search" action="#" method="POST"> -->
                <form class="navbar-form navbar-left" id="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Stock" name="search_name">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                    <table class="table table-hover">
                        <tr>
                            <th>Stock Name</th>
                            <th>Stock Symbol</th>
                            <th>Current Price</th>
                        </tr>
                        <tr>
                            <td>{{ stockname }}</td>
                            <td>{{ stocksymbol }}</td>
                            <td>{{ price }}</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
            <h3 class="box-title">Transaction</h3>
            </div>
            <div class="row">
            <div class="container">
            <!-- <form action="#" method="POST"> -->
            <form id="submit">
                <h4 style="margin-left:20px">Shares</h4>
                    <div class="input-group spinner">
                    <input type="text" class="form-control" value="100" id="shares-input">
                        <div class="input-group-btn-vertical">
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                        <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                <div class="container" style="font-size:20px;color:forestgreen"><p id="share-available"><strong>Shares Available: {{ shares }}</strong></p></div>
                <div class="container"><button type="submit" class="btn btn-success" id="submit-btn">Confirm Transation</button></div>
            </form>
  </div>
</div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var selectedStock = null;
        var account_balance;
        var share_available;

        $.get("/order/get_account_balance", function(data){
            account_balance = data.account_balance;
        })

        $('#search').on('submit', function(event) {
            event.preventDefault();
            stockname = $('input[name="search_name"]').val();
            $.ajax({
                url: '/order/get_stock_info',
                method: 'POST',
                data: { "stockname": stockname },
                success: function(response) {
                    share_available = parseInt(account_balance / response.price, 10);
                    $('#search').find("tr").eq(1).find('td').eq(0).text(response.stockname);
                    $('#search').find("tr").eq(1).find('td').eq(1).text(response.stocksymbol);
                    $('#search').find("tr").eq(1).find('td').eq(2).text(response.price);
                    $("#share-available").html('<strong>Shares Available: ' + share_available + '</strong>');
                    selectedStock = JSON.stringify(response);
                },
                error: function() {
                    alert('Error occurred while getting stock info');
                }
            });
        });

        $('.spinner .btn:first-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue >= 100 && currentValue < share_available) {
            $input.val(currentValue + 1);
            }
        });
        
        $('.spinner .btn:last-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue > 100 && currentValue <= share_available) {
            $input.val(currentValue - 1);
            }
        });
    
        $('#submit-btn').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: '/order/buy',
                method: 'POST',
                // data: { "symbol": selectedStock.stocksymbol, "date": new Date().getTime(), "share": $('.spinner input'), "action": "buy"},
                data: { "symbol": selectedStock.stocksymbol, "date": new Date().getTime(), "share": $('.spinner input').val(), "action": "buy"},
                success: function(event) {
                    alert("Your order has been successfully placed!");
                },
                error: function() {
                    alert('Error occurred while placing order.');
                }
            });
        });
});
</script>
{% endblock %}
