{% extends 'base2.html' %}

{% block title %}Buy{% endblock %}

{% block main_body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<div class="row">
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Search Stock</h3>
            </div>
            <div class="row" style="justify-content:center;display:flex;">
                <!-- <form class="navbar-form navbar-left" role="search" action="#" method="POST"> -->
                <form class="navbar-form navbar-left" id="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Stock" name="search_name">
                    </div>
                    <div class="input-group date" data-provide="datepicker" style="margin-left: 10px;">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Search</button>
                </form>
            </div>
            <div class="box-body table-responsive no-padding" style="justify-content:center;display:flex;">
                <form>
                    <table class="table table-hover">
                        <tr>
                            <th>Stock Name</th>
                            <th>Stock Symbol</th>
                            <th>Current Price</th>
                        </tr>
                        <tr>
                            <td>{{ stockname }}</td>
                            <td>{{ stocksymbol }}</td>
                            <td>{{ price }}</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Transaction</h3>
            </div>

            <!-- <form action="#" method="POST"> -->
            <form class="form-horizontal" id="submit">
                <div class="box-body">
                    <h4 class="text-center" style="font-size:25px;color:deepskyblue"><strong>Shares</strong></h4>
                    <div class="form-group" style="justify-content:center;display:flex;">
                        <div class="input-group spinner">
                            <input type="text" class="form-control" value="100" id="shares-input">
                            <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <p class="text-center"><small style="color: orangered;" id="input_error"><i
                                class="fa fa-hand-o-left"></i> Please select a stock</small></p>
                    <div class="form-group"
                        style="font-size:18px;color:deepskyblue;justify-content:center;display:flex;">
                        <p id="share-available"><strong>Shares Available: {{ shares }}</strong></p>
                    </div>
                    <div class="box-footer" style="justify-content:center;display:flex;">
                        <button type="submit" class="btn btn-info" id="submit-btn">Confirm Transaction</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!--<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>-->
<!--<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>-->
<script>
    $(document).ready(function () {
        var selectedStock = null;
        var account_balance = {{ info['balance'] }};
        var share_available;

        $('#search').on('submit', function (event) {
            event.preventDefault();
            stockname = $('input[name="search_name"]').val().toUpperCase();
            $.ajax({
                url: '/order/get_stock_info',
                method: 'POST',
                data: { "stockname": stockname, "date": $('#date-input').val()},
                success: function (response) {
                    share_available = parseInt(account_balance / response.price, 10);
                    $('#search').find("tr").eq(1).find('td').eq(0).text(response.stockname);
                    $('#search').find("tr").eq(1).find('td').eq(1).text(response.stocksymbol);
                    $('#search').find("tr").eq(1).find('td').eq(2).text(response.price);
                    $("#share-available").html('<strong>Shares Available: ' + share_available + '</strong>');
                    selectedStock = response.stocksymbol;
                    $('#input_error').hide();
                },
                error: function () {
                    alert('Please enter correct symbol!');
                }
            });
        });

        $('.spinner .btn:first-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue >= 100 && currentValue < share_available - 100) {
                $input.val(currentValue + 100);
                $('#input_error').hide();
            } else {
                $('#input_error').show().text('Max limit reached');
            }
        });

        $('.spinner .btn:last-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue > 100 && currentValue <= share_available) {
                $input.val(currentValue - 100);
                $('#input_error').hide();
            } else {
                console.log(currentValue);
                $('#input_error').show().text('Min limit reached');
            }
        });

        $('#submit').on('submit', function (event) {
            if ($('.spinner input').val() >= 100 && $('.spinner input').val() <= share_available) {
                event.preventDefault();
                $.ajax({
                    url: '/order/buy',
                    method: 'POST',
                    data: {
                        "symbol": selectedStock,
                        "date": $('#date-input').val(),  // add the date value here
                        "share": $('.spinner input').val(),
                        "action": "buy"
                    },
                    success: function (event) {
                        alert("Your order has been successfully placed!");
                        window.location.reload();
                    },
                    error: function () {
                        alert('Error occurred while placing order.');
                    }
                });
            } else {
                alert("Please enter a valid input!")
            }
        });

        $('#date-input').datepicker({
            dateFormat: 'yy-mm-dd',
            defaultDate: new Date(),
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
    });
</script>
{% endblock %}