{%  extends 'base2.html' %}

{% block title %}Sell{% endblock %}

{% block main_body %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<div class="row">
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Currently Owned Assets</h3>
            </div>
            <div class="row" style="justify-content:center;display:flex;">
                <form class="navbar-form navbar-left">
                    <span>Select a date you want to sell:</span>
                    <div class="input-group date" data-provide="datepicker" style="margin-left: 10px;">
                        <input type="text" class="form-control" placeholder="Select a date" id="date-input" value="{{ date }}" autocomplete="off">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
            </form>
            </div>
            <div class="box-body table-responsive no-padding" style="justify-content:center;display:flex;">
            <form action="#" method="POST">
                <table class="table table-dark" id="portfolio-table">
                    <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Shares</th>
                        <th>Value</th>
                        <th>Latest Buy Date</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for asset in portfolio %}
                        <tr>
                            <td>{{ asset[1] }}</td>
                            <td>{{ asset[2] }}</td>
                            <td>{{ asset[3] | round(2) }}</td>
                            <td>{{ latest[asset[1]] }}</td>
                            <td>
                                <!-- <a type="button" href="#" onclick="pass_shares('{{ asset[1] }}', '{{ asset[2] }}', '{{ price[loop.index0] }}')" class="btn btn-success btn-xs">Sell</a> -->
                                <a type="button" href="#" onclick="pass_shares('{{ asset[1] }}', '{{ asset[2] }}', '{{ latest[asset[1]] }}')" class="btn btn-success btn-xs">Sell</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border text-center">
                <h3 class="box-title">Transaction</h3>
            </div>

                <form class="form-horizontal" action="#" method="POST" id="submit">
                    <div class="box-body">
                        <h4 id="price" class="text-center" style="font-size:26px;color:darkorange"><strong>Current Price: <i class="fa fa-dollar"></i></strong></h4>
                        <div style="display:flex;justify-content:center;gap:60px">
                            <h4 class="text-center" style="font-size:22px;color:steelblue;"><strong>Shares</strong></h4>
                          </div>
                        <div class="form-group" style="justify-content:center;display:flex;">
                            <div class="input-group spinner">
                            <input type="text" class="form-control" value="100">
                                <div class="input-group-btn-vertical">
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <p class="text-center"><small style="color: orangered;" id="input_error"><i class="fa fa-hand-o-left"></i> Please select a stock</small></p>
                        <div class="form-group" style="font-size:18px;color:steelblue;justify-content:center;display:flex;">
                            <p id="shares"><strong> Shares Available: 0 </strong></p>
                        </div>
                        <div class="box-footer" style="justify-content:center;display:flex;">
                            <button type="submit" class="btn btn-primary">Confirm Transaction</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
<script>
    var selectedStock;
    var share_available;
    var symbol;
    var increment = 100; // Default increment for stocks

    function setIncrement() {
        if (selectedStock.slice(-4) === '-USD') {
            increment = 1; // Increment for cryptocurrencies
        } else {
            increment = 100; // Increment for stocks
        }
    }

    (function ($) {
        const dateInput = document.getElementById('date-input');
        const today = new Date();
        const year = today.getFullYear();
        const month = (today.getMonth() + 1).toString().padStart(2, '0');
        const day = today.getDate().toString().padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;
        dateInput.value = formattedDate;

        $('.spinner .btn:first-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue >= increment && currentValue <= share_available - increment) {
                $input.val(currentValue + increment);
                $('#input_error').hide();
            }else {
                $('#input_error').show().text('Max limit reached');
            }
        });
        
        $('.spinner .btn:last-of-type').on('click', function () {
            var $input = $('.spinner input');
            var currentValue = parseInt($input.val(), 10);
            if (currentValue > increment && currentValue <= increment) {
                $input.val(currentValue - increment);
                $('#input_error').hide();
            } else {
                console.log(currentValue);
                $('#input_error').show().text('Min limit reached');
            }
        });

        $('#date-input').datepicker({
            dateFormat: 'yy-mm-dd',
            defaultDate: new Date(),
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            startDate: "2023-4-14",
            endDate: new Date()
        });
    })(jQuery);
    function checkOne(){
        var one = document.getElementsByName("checkone");
        one.checked=true;
    }
    function pass_shares(symbol, shares, latest_date){
        var selectedDate = new Date($('#date-input').val());
        var latestBuyingDate = new Date(latest_date);
        var currentDate = new Date();
        if(selectedDate < latestBuyingDate || selectedDate > currentDate) {
            alert('Please select a vaild date');
        } else {$.ajax({
                url: '/order/get_stock_price', //需要新的API
                method: 'POST',
                // data: { "symbol": selectedStock.stocksymbol, "date": new Date().getTime(), "share": $('.spinner input'), "action": "buy"},
                data: {
                        "symbol": symbol,
                        "date": $('#date-input').val(),  // add the date value here
                    },
                success: function(response) {
                    var price = response.price //.toFixed(2);
                    console.log(price);
                    $('#price').html('<strong>Current Price: <i class="fa fa-dollar"></i>' + price + '</strong>');
                },
                error: function() {
                    alert('Error occurred while getting price.');
                    window.location.reload();
                }
            });
        var s = document.getElementById('shares');
        s.innerHTML = "<strong> Shares Available: " + shares + "</strong>";
        var p = document.getElementById('price');
        // console.log(price1);
        // p.innerHTML = '<strong>Current Price: <i class="fa fa-dollar"></i>' + price + '</strong>';
        selectedStock = symbol;
        setIncrement();
        $('.spinner input').val(increment); // Set the initial amount based on the increment
        share_available = shares;
        $('#input_error').hide();}
    }
    $('#submit').on('submit', function(event) {
            event.preventDefault();
            $.ajax({
                url: '/order/sell',
                method: 'POST',
                // data: { "symbol": selectedStock.stocksymbol, "date": new Date().getTime(), "share": $('.spinner input'), "action": "buy"},
                data: {
                        "symbol": selectedStock,
                        "date": $('#date-input').val(),  // add the date value here
                        "share": $('.spinner input').val(),
                        "action": "buy"
                    },
                success: function(event) {
                    alert("Your order has been successfully placed!");
                    window.location.reload();
                },
                error: function() {
                    alert('Error occurred while placing order.');
                    window.location.reload();

                }
            });
        });
    
    $("#search").click(function(){
        var searchText = $("#searchText").val().toUpperCase();
        $("#portfolio tbody tr").each(function() {
            var userId = $(this).find("td:eq(0)").text().toUpperCase(); 
            var symbol = $(this).find("td:eq(1)").text().toUpperCase(); 
            if (userId.indexOf(searchText) > -1 || symbol.indexOf(searchText) > -1) { 
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $(function() {
        var $input = $('#search-input');
        var $btn = $('#search-btn');

        $btn.click(function() {
            symbol = $input.val().toLowerCase();

            $('#portfolio-table tbody tr').each(function() {
            var currentSymbol = $(this).find('td:eq(2)').text().toLowerCase();

            if (currentSymbol !== symbol) {
                $(this).hide();
            } else {
                $(this).show();
            }
            });
        });
    });

    $(function() {
        var $btn = $('#show-all-btn');

        $btn.click(function() {
            $('#portfolio-table tbody tr').each(function() {
                $(this).show();
            });
        });
    });
</script>
{% endblock %}