{%  extends 'base2.html' %}

{% block title %}Sell{% endblock %}

{% block main_body %}
<div class="row">
    <div class="col-md-6">
        <div class="box box-success">
            <div class="box-header with-border">
            <h3 class="box-title">Currently Owned Assets</h3>
            </div>
            <div class="row">
            <form class="navbar-form navbar-left" role="search" action="#" method="POST">
            <div class="form-group">
            <input type="text" class="form-control" placeholder="Search Stock">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
            </form>
            </div>
            <div class="box-body table-responsive no-padding">
            <form action="#" method="POST">
                <table class="table table-dark">
                    <div style="margin-bottom:10px">
                        <a href="#" class="btn btn-success input-sm">Select All</a>
                    </div>
                    <tr>
                        <th></th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shares</th>
                    </tr>
                    {% for stock in stocklist %}
                    <tr>
                        <td><input type="checkbox" onclick="checkOne()" value="{{ stockid }}" name="checkone"></td>
                        <td>{{ stocksymbol }}</td>
                        <td>{{ stockname }}</td>
                        <td>{{ stockshares }}</td>
                        <td>
                            <a type="button" href="#" class="btn btn-primary btn-xs">Sell</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
            <h3 class="box-title">Transaction</h3>
            </div>
        </div>
    </div>
</div>
<script>
    (function ($) {
        $('.spinner .btn:first-of-type').on('click', function () {
            $('.spinner input').val(parseInt($('.spinner input').val(), 10) + 1);
        });
        $('.spinner .btn:last-of-type').on('click', function () {
            $('.spinner input').val(parseInt($('.spinner input').val(), 10) - 1);
        });
    })(jQuery);
</script>
{% endblock %}