{% extends 'base1.html' %}

{% block title %}Efficient Frontier{% endblock %}

{% block main_body %}
<style>
.middle-box{
    position:absolute;
    left:50%;
    transform:translate(-50%,0);
}
</style>
<div class="row">
    <div class="col-md-8 middle-box">
        <div class="box box-warning">
            <div class="box-header with-border">
            <h3 class="box-title">Efficient Frontier</h3>
            </div>
            <!-- for efficient frontier -->
            <div class="container">
            </div>    
        </div>
    </div>
</div>
{% endblock %}