{% extends 'base1.html' %}

{% block title %}Efficient Frontier{% endblock %}

{% block main_body %}
<div class="box">
    <div class="col-md-8 middle-box">
        <div class="box box-warning">
            <div class="box-header with-border text-center">
            <h3 class="box-title"><strong>Efficient Frontier</strong></h3>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <h5>Portfolio Return</h5>
                    <input name="rtn" class="form-control" value="{{ info['port_return'] }}" readonly>
                </div>
                <div class="col-sm-4 text-center">
                    <h5>Portfolio Volatility</h5>
                    <input name="vol" class="form-control" value="{{ info['port_vol'] }}" readonly>
                </div>
                <div class="col-sm-4 text-center">
                    <h5>Sharpe Ratio</h5>
                    <input name="sharpe" class="form-control" value="{{ info['sharpe'] }}" readonly>
                </div>
            </div>

            <!-- for efficient frontier -->
            <div id="ef" class="row">
            </div>    
        </div>
    </div>
</div>
{% endblock %}