{% extends 'base_admin.html' %}

{% block title %}Risk-return{% endblock %}

{% block main_body %}
<section class="content-header">
    <h1>
        Overall Risk-return Profile of All Stocks Held by Users
    </h1>
</section>

<section class="content container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                </div>
                {% if error %}
                <p class="text-center" style="color:red">{{ error }}</p>
                {% else %}
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Overall Return</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{{ info['rtn'] }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Overall Volatility</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{{ info['vol'] }}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Overall Sharpe Ratio</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" value="{{ info['sharpe'] }}" readonly>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box">
    <section class="efficient-frontier">
        <h2 class="text-center">
            Efficient Frontier of All Users
        </h2>
        <div id="ef" style="width: 600px; height: 400px;margin: 0 auto;"></div>
    </section>
    </div>

</section>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>

<script>
    // function draw_ef(){
        var chart = echarts.init(document.getElementById("ef"));
        var data = {{ ef }};
        // console.log(data);
        var port_data = [[{{ info['vol'] }}, {{ info['rtn'] }}] ];
        // console.log(port_data)
        var option = {
            legend: {
                bottom: 5
            },
            xAxis: {
                type: 'value',
                name: 'Risk',
                min: Math.min(data[0][0], port_data[0][0] )
            },
            yAxis: {
                type: 'value',
                name: 'Return',
                min: Math.min(data[0][1], port_data[0][1] )
            },
            series: [
                {
                    name: "Efficient Frontier",
                    data: data,
                    symbol: 'none',
                    type: 'line'
                },
                {
                    name: "Portfolio",
                    type: 'scatter',
                    data: port_data,
                    symbolSize: 10,
                    itemStyle: {
                        color: 'red'
                    }
                }
            ]
        };
        option&&chart.setOption(option);
    // }
</script>
{% endblock %}